html, body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
    margin: 0;
    height: 100%;
    overflow: hidden
}

@import url("https://fonts.googleapis.com/css?family=Homenaje");
.p-canvas-webgl {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

@font-face {
    font-family: 'Boycott';
    src: url('../fonts/36A4FB_0_0.eot');
    src: url('../fonts/36A4FB_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/36A4FB_0_0.woff2') format('woff2'), url('../fonts/36A4FB_0_0.woff') format('woff'), url('../fonts/36A4FB_0_0.ttf') format('truetype');
}

#logoCenter {
    text-align: center;
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    z-index: 2;
    color: #fff;
}

.logotext {
    font-family: 'Boycott';
    line-height: 0px;
    position: relative;
    z-index: 2;
    color: #ffffff;
}

.sublogotext {
    font-family: 'Boycott';
    line-height: 0px;
    position: relative;
    z-index: 2;
    color: #00FF00;
    color: rgba(0, 255, 0, 0.65);
}

#wrapper {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: calc(100% - 25vh);
    z-index: 2;
}

.logotext2 {
    font-family: 'Boycott';
    line-height: 0px;
    color: #ffff;
    z-index: 3;
}

@media screen and (min-width: 950px), screen and (max-height: 545px) {
    .logotext {
        font-size: 8vw;
        top: 1vh;
    }

    .sublogotext {
        font-size: 5vw;
        top: 2vh;
    }

    .logotext2 {
        font-size: 1vw;
    }
}

@media screen and (min-width: 950px), screen and (min-height: 546px) {
    .logotext {
        font-size: 12vw;
        top: 5vh;
    }

    .sublogotext {
        font-size: 5vw;
        top: 2vh;
    }

    .logotext2 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 950px), screen and (max-height: 397px) {
    .logotext {
        font-size: 10vw;
        top: 1vh;
    }

    .sublogotext {
        font-size: 5vw;
        top: 2vh;
    }

    .logotext2 {
        font-size: 2vw;
        z-index: 2;
        color: #fff;
    }
}

@media screen and (max-width: 950px), screen and (min-height: 397px) {
    .logotext {
        font-size: 15vw;
        top: 5vh;
    }

    .sublogotext {
        font-size: 12vw;
        top: 8vh;
    }

    .logotext2 {
        font-size: 7vw;
    }
}

.logotext3 {
    font-family: 'Homenaje';
    font-size: 1.25vw;
    line-height: 0px;
    color: #3b3b3b;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    bottom: 1vh;
    z-index: 2;
}